<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener
			class-name="genericUtilities.ListenersImplementation"/>
	</listeners>

	<test thread-count="5" name="Test">
		<parameter name="browser" value="Chrome" />


		<classes>
			<class name="vtiger.ContactsTests.CreateContact"/>
			<class
				name="vtiger.ContactsTests.CreateContactWithOrganizationTest"/>
			<class
				name="vtiger.OrganizationsTests.CreateMultipleOrganizationWithIndTest"/>
			<class name="vtiger.LeadTests.CreateLead"/>
			<class
				name="vtiger.OrganizationsTests.CreateMultipleOrganizationWithIndTest"/>
			<class
				name="vtiger.OrganizationsTests.CreateOrgWithIndustryTest"/>
			<class
				name="vtiger.OrganizationsTests.CreateOrgWithIndustryTest"/>
			<class
				name="vtiger.OpportunityTests.CreateOpportunityTestWithOrgTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
